@charset "UTF-8";

@font-face {
    font-family: 'SantanderHeadline';
    src: url('../fonts/Santander-Headline-W05-Regular.ttf') format('truetype');
}


:root{
    --cor1: #ec0000;
    --cor2: #CC0000;

    --font-padrao: font-family: 'SantanderHeadline', 'Open-Sans' ;
}

main{
    width: 65%;
    margin: auto;
}

main .cards-main

main .cards-main .title-main{
    font-weight: 100;
    letter-spacing: -1px;
    margin-top: 90px;
    padding-left: 50px;
}

main .cards-main .title-main > h1{ 
    font-weight: 100;
}


