@charset "UTF-8";

@font-face {
    font-family: 'SantanderHeadline';
    src: url('../fonts/Santander-Headline-W05-Regular.ttf') format('truetype');
}


:root{
    --cor1: #ec0000;
    --cor2: #CC0000;

    --font-padrao: font-family: 'SantanderHeadline', 'Open-Sans' ;
}

section.slider2{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;  /*!important = importante e ianlteravel*/
    overflow: hidden; /*Barra de rolagem é invisivel*/
}

.slider-content2{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content2 input{
    display: none;
}

.slide-box2{
    width: 25%;
    height: auto;
    position: relative;
}

.slide-box2 img{
    width: 100%;
}

.nav-manual